<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SecurityVerificationTextDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA47603C1D3DD9FA000746DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA4760551D3DD9FA000746DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA4760601D3DD9FA000746DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
